@charset "UTF-8";
*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol, ul {
  padding: 0;
}

blockquote, body, dd, dl, figcaption, figure, h1, h2, h3, h4, html, li, ol, p, ul {
  margin: 0;
  padding: 0;
}

li[class], ol[class], ul[class] {
  list-style: none;
}

@font-face {
  font-family: "Cousine";
  src: url("../fonts/Cousine.eot");
  src: local("☺"), url("../fonts/Cousine.woff") format("woff"), url("../fonts/Cousine.ttf") format("truetype"), url("../fonts/Cousine.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cousine-Bold";
  src: url("../fonts/Cousine-Bold.eot");
  src: local("☺"), url("../fonts/Cousine-Bold.woff") format("woff"), url("../fonts/Cousine-Bold.ttf") format("truetype"), url("../fonts/Cousine-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Cousine";
  background: #fff;
  color: #000;
  font-size: 16px;
}
body.lock {
  overflow: hidden;
}

h1, h2, h3, h4, h5, .bold-text {
  font-weight: 700;
  font-family: "Cousine-Bold";
}

#wrapper {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #654321;
  opacity: 1;
  visibility: visible;
  z-index: 4;
  transition: all 1s ease;
}
#preloader.done {
  opacity: 0;
  visibility: hidden;
}
#preloader #loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: none;
  border: 8px solid #fff;
  border-top-color: #5f5f5f;
  border-radius: 50%;
  z-index: 4;
  -webkit-animation: load 1.5s infinite linear;
          animation: load 1.5s infinite linear;
}
@-webkit-keyframes load {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes load {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: none;
  z-index: 3;
  transition: background 0.5s ease;
}
header.header__fixed {
  background: rgba(0, 0, 0, 0.9);
  transition: background 0.5s ease;
}
header .inner-header {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}
header .inner-header .header__nav {
  font-size: 15px;
  font-family: "Cousine-Bold";
  font-weight: 700;
  text-transform: uppercase;
}
header .inner-header .header__nav ul {
  display: flex;
}
header .inner-header .header__nav ul li {
  list-style: none;
  margin-right: 20px;
}
header .inner-header .header__nav ul li .header__nav__link {
  position: relative;
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.1s ease;
}
header .inner-header .header__nav ul li .header__nav__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  top: 100%;
  right: 0;
  background-color: #654321;
  transition: width 0.2s ease;
}
header .inner-header .header__nav ul li .header__nav__link:hover {
  opacity: 1;
  transition: all 0.2s ease;
}
header .inner-header .header__nav ul li .header__nav__link.active {
  opacity: 1;
}
header .inner-header .header__nav ul li .header__nav__link.active::before {
  width: 100%;
  left: 0;
}
header .inner-header .header__nav ul li:last-child {
  margin: 0;
}

content .inner-content .section {
  width: 100%;
  padding: 10px 20px;
}
content .inner-content .section .section__title.h1 {
  display: block;
  position: relative;
  max-width: 100%;
  margin: 0;
  font-size: 32px;
}
content .inner-content .section .section__title.h1::before {
  content: "";
  width: 0;
  height: 0;
  background-color: none;
}
content .inner-content .section .section__title {
  display: inline-block;
  position: relative;
  max-width: 720px;
  margin: 15px 0 10px 0;
  font-size: 24px;
  z-index: 2;
}
content .inner-content .section .section__title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background-color: #654321;
  z-index: 1;
}
content .inner-content #section__home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background: #654321 url("../img/interface/intro.jpg") center/cover no-repeat;
  color: #fff;
}
content .inner-content #section__home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
content .inner-content #section__home .container {
  z-index: 2;
}
content .inner-content #section__home .section__home__text {
  font-size: 18px;
  max-width: 720px;
}
content .inner-content #section__home .section__arrowDown {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(50%, 0);
  font-size: 24px;
  -webkit-animation: arrowDown 2s ease-in-out infinite;
          animation: arrowDown 2s ease-in-out infinite;
}
@-webkit-keyframes arrowDown {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 20px;
  }
}
@keyframes arrowDown {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 20px;
  }
}
content .inner-content #section__resume .section__text {
  font-size: 16px;
}
content .inner-content #section__resume .section__text p {
  margin: 10px 0;
}
content .inner-content #section__resume .section__text p:first-child {
  margin: 0 0 10px 0;
}
content .inner-content #section__resume .section__text p:last-child {
  margin: 10px 0 0 0;
}
content .inner-content #section__portfolio .works {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  grid-gap: 10px;
  justify-content: center;
}
content .inner-content #section__portfolio .works .works__item {
  position: relative;
  padding: 15px;
  height: 100%;
  border: 1px solid #808080;
  border-radius: 10px;
  background-color: none;
}
content .inner-content #section__portfolio .works .works__item a {
  text-decoration: none;
}
content .inner-content #section__portfolio .works .works__item a .works__area {
  position: relative;
  min-width: 100%;
  min-height: 300px;
  overflow: hidden;
  margin: 0 0 5px 0;
  border-radius: 10px;
  order: 1;
}
content .inner-content #section__portfolio .works .works__item a .works__area .works__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
content .inner-content #section__portfolio .works .works__item a .works__title {
  position: relative;
  margin: 0 0 5px 0;
  font-size: 19px;
  color: #000;
  text-transform: uppercase;
  order: 2;
}
content .inner-content #section__portfolio .works .works__item a:hover .works__area .works__img {
  width: 125%;
  height: 125%;
}
content .inner-content #section__portfolio .works .works__item a:hover .works__title {
  color: #654321;
}
content .inner-content #section__portfolio .works .works__item .works__date {
  font-size: 16px;
  color: #000;
  order: 3;
}

body.webp content .inner-content #section__home {
  background: #654321 url("../img/interface/intro.webp") center/cover no-repeat;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease;
}
.popup .popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup .popup__body .popup__content {
  position: relative;
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 20px;
  transition: all 0.8s ease;
  transform: translateY(-100vh);
}
.popup .popup__body .popup__content .popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.1s ease;
}
.popup .popup__body .popup__content .popup__close:hover {
  color: #f00;
}
.popup .popup__body .popup__content .popup__title {
  margin: 0 0 1em 0;
}
.popup .popup__body .popup__content .popup__text {
  font-size: 16px;
  color: #000;
}
.popup .popup__body .popup__content .popup__description {
  font-size: 14px;
}
.popup .popup__body .popup__content .popup__description .popup__text {
  font-size: 16px;
}
.popup .popup__body .popup__content .popup__description p {
  margin-bottom: 10px;
}
.popup .popup__body .popup__content .popup__description p .span-title {
  font-family: "Cousine-Bold";
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  padding: 0;
}
.popup .popup__body .popup__content .popup__description p span {
  font-family: "Cousine";
  font-weight: normal;
  text-transform: uppercase;
  padding-left: 40px;
  opacity: 0.8;
}
.popup .popup__body .popup__content .popup__description p .span-data {
  padding-left: 57px;
}
.popup .popup__body .popup__content .popup__images {
  text-align: center;
}
.popup .popup__body .popup__content .popup__images img {
  max-width: 100%;
  margin-bottom: 10px;
}
.popup .popup__body .popup__content .popup__btns {
  margin-top: 10px;
}
.popup .popup__body .popup__content .popup__btns .site-btn {
  width: 150px;
  height: 20px;
  padding: 15px;
  background-color: #282828;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Cousine-Bold";
  font-weight: 700;
  margin-right: 10px;
  transition: background-color 0.2s ease;
}
.popup .popup__body .popup__content .popup__btns .site-btn:hover {
  background-color: #654321;
}
.popup .popup__body .popup__content .popup__soc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0 0 0;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link {
  position: relative;
  margin: 0 5px 0 0;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: none;
  transition: background-color 0.1s ease;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link.facebook::before {
  background-color: #3b5998;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link.facebook:hover:before {
  background-color: #fff;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link.instagram::before {
  background-color: #E1306C;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link.instagram:hover:before {
  background-color: #fff;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link.telegram::before {
  background-color: #0088cc;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link.telegram:hover:before {
  background-color: #fff;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link.twitter::before {
  background-color: #1DA1F2;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link.twitter:hover:before {
  background-color: #fff;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link.viber::before {
  background-color: #665CAC;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link.viber:hover:before {
  background-color: #fff;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link.whatsapp::before {
  background-color: #25D366;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link.whatsapp:hover:before {
  background-color: #fff;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link.youtube::before {
  background-color: #F00;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link.youtube:hover:before {
  background-color: #fff;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link .popup__soc__icon {
  position: relative;
  padding: 0;
  margin: 0;
  width: 56px;
  height: 56px;
  z-index: 2;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link .popup__soc__icon path {
  position: absolute;
  fill: #fff;
  transition: fill 0.2s ease;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link .popup__soc__icon.facebook:hover path {
  fill: #3b5998;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link .popup__soc__icon.youtube > circle {
  fill: #fff;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link .popup__soc__icon.instagram circle {
  fill: #fff;
  transition: fill 0.2s ease;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link .popup__soc__icon.instagram:hover circle {
  fill: #E1306C;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link .popup__soc__icon.instagram:hover path {
  fill: #E1306C;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link .popup__soc__icon.telegram:hover path {
  fill: #0088cc;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link .popup__soc__icon.twitter:hover path {
  fill: #1DA1F2;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link .popup__soc__icon.viber:hover path {
  fill: #665CAC;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link .popup__soc__icon.whatsapp:hover path {
  fill: #25D366;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link .popup__soc__icon.youtube > g polygon {
  fill: #fff;
  transition: fill 0.2s ease;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link .popup__soc__icon.youtube:hover > g > path {
  fill: #F00;
  transition: fill 0.2s ease;
}
.popup .popup__body .popup__content .popup__soc .popup__soc__link .popup__soc__icon.youtube:hover > g polygon {
  fill: #F00;
}
.popup .popup__body .popup__content .popup__soc .soc__link:last-child {
  margin: 0;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  opacity: 1;
  transform: translateY(0);
}

footer {
  background-color: #654321;
}
footer .inner-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 15px 0;
}
footer .inner-footer .back__to-top > a {
  position: relative;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
footer .inner-footer .back__to-top > a::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.2 ease;
}
footer .inner-footer .back__to-top > a:hover:before {
  width: 100%;
  left: 0;
}
footer .inner-footer #copyright {
  margin: 25px 0 0 0;
  font-size: 14px;
  color: #fff;
}
footer .inner-footer .footer__nav {
  margin: 25px 0 0 0;
}
footer .inner-footer .footer__nav ul {
  display: flex;
  flex-direction: row;
}
footer .inner-footer .footer__nav ul li {
  list-style: none;
  margin-right: 20px;
}
footer .inner-footer .footer__nav ul li .footer__nav__link {
  font-size: 14px;
  color: grey;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.2s ease;
}
footer .inner-footer .footer__nav ul li .footer__nav__link:hover {
  color: #fff;
}
footer .inner-footer .footer__nav ul li:last-child {
  margin-right: 0;
}
footer .inner-footer .footer__soc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0 0 0;
}
footer .inner-footer .footer__soc .footer__soc__link {
  position: relative;
  margin: 0 5px 0 0;
}
footer .inner-footer .footer__soc .footer__soc__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: none;
  transition: background-color 0.1s ease;
}
footer .inner-footer .footer__soc .footer__soc__link.facebook::before {
  background-color: #3b5998;
}
footer .inner-footer .footer__soc .footer__soc__link.facebook:hover:before {
  background-color: #fff;
}
footer .inner-footer .footer__soc .footer__soc__link.instagram::before {
  background-color: #E1306C;
}
footer .inner-footer .footer__soc .footer__soc__link.instagram:hover:before {
  background-color: #fff;
}
footer .inner-footer .footer__soc .footer__soc__link.telegram::before {
  background-color: #0088cc;
}
footer .inner-footer .footer__soc .footer__soc__link.telegram:hover:before {
  background-color: #fff;
}
footer .inner-footer .footer__soc .footer__soc__link.twitter::before {
  background-color: #1DA1F2;
}
footer .inner-footer .footer__soc .footer__soc__link.twitter:hover:before {
  background-color: #fff;
}
footer .inner-footer .footer__soc .footer__soc__link.viber::before {
  background-color: #665CAC;
}
footer .inner-footer .footer__soc .footer__soc__link.viber:hover:before {
  background-color: #fff;
}
footer .inner-footer .footer__soc .footer__soc__link.whatsapp::before {
  background-color: #25D366;
}
footer .inner-footer .footer__soc .footer__soc__link.whatsapp:hover:before {
  background-color: #fff;
}
footer .inner-footer .footer__soc .footer__soc__link.youtube::before {
  background-color: #F00;
}
footer .inner-footer .footer__soc .footer__soc__link.youtube:hover:before {
  background-color: #fff;
}
footer .inner-footer .footer__soc .footer__soc__link .footer__soc__icon {
  position: relative;
  padding: 0;
  margin: 0;
  width: 56px;
  height: 56px;
  z-index: 2;
}
footer .inner-footer .footer__soc .footer__soc__link .footer__soc__icon path {
  position: absolute;
  fill: #fff;
  transition: fill 0.2s ease;
}
footer .inner-footer .footer__soc .footer__soc__link .footer__soc__icon.facebook:hover path {
  fill: #3b5998;
}
footer .inner-footer .footer__soc .footer__soc__link .footer__soc__icon.youtube > circle {
  fill: #fff;
}
footer .inner-footer .footer__soc .footer__soc__link .footer__soc__icon.instagram circle {
  fill: #fff;
  transition: fill 0.2s ease;
}
footer .inner-footer .footer__soc .footer__soc__link .footer__soc__icon.instagram:hover circle {
  fill: #E1306C;
}
footer .inner-footer .footer__soc .footer__soc__link .footer__soc__icon.instagram:hover path {
  fill: #E1306C;
}
footer .inner-footer .footer__soc .footer__soc__link .footer__soc__icon.telegram:hover path {
  fill: #0088cc;
}
footer .inner-footer .footer__soc .footer__soc__link .footer__soc__icon.twitter:hover path {
  fill: #1DA1F2;
}
footer .inner-footer .footer__soc .footer__soc__link .footer__soc__icon.viber:hover path {
  fill: #665CAC;
}
footer .inner-footer .footer__soc .footer__soc__link .footer__soc__icon.whatsapp:hover path {
  fill: #25D366;
}
footer .inner-footer .footer__soc .footer__soc__link .footer__soc__icon.youtube > g polygon {
  fill: #fff;
  transition: fill 0.2s ease;
}
footer .inner-footer .footer__soc .footer__soc__link .footer__soc__icon.youtube:hover > g > path {
  fill: #F00;
  transition: fill 0.2s ease;
}
footer .inner-footer .footer__soc .footer__soc__link .footer__soc__icon.youtube:hover > g polygon {
  fill: #F00;
}
footer .inner-footer .footer__soc .soc__link:last-child {
  margin: 0;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 960px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 720px) {
  .container {
    max-width: 660px;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 100%;
  }

  header .header-inner .header__nav ul > li {
    margin-right: 10px;
  }
}
@media (max-width: 320px) {
  header .header-inner .header__nav ul > li {
    margin-right: 5px;
  }
}