*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol,
ul {
  padding: 0;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
html,
li,
ol,
p,
ul {
  margin: 0;
  padding: 0;
}

li[class],
ol[class],
ul[class] {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  font-weight: 400;
  color: #fff;
  background-color: #081130;
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h4,
h5 {
  font-weight: 500;
}

#wrapper {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main.page {
  flex: 1 1 auto;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 12, 29, 0.9);
  top: 0;
  left: 0;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease;
}

.popup._open {
  opacity: 1;
  visibility: visible;
}

.popup._open .popup__content {
  transform: translateY(0);
  pointer-events: all;
}

.popup .popup__body {
  position: relative;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup .popup__content {
  position: relative;
  background-color: #fff;
  color: #2E363E;
  max-width: 800px;
  padding: 20px;
  transform: translate(0px, -100%);
  pointer-events: none;
  border-radius: 5px;
  transition: all 0.8s ease;
}

.popup .popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 2;
}

.popup .popup__close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 2px;
  transform: translate(0, -50%) rotate(45deg);
  background-color: #FED84C;
  transition: all 0.3s ease;
}

.popup .popup__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 2px;
  transform: translate(0, -50%) rotate(-45deg);
  background-color: #FED84C;
  transition: all 0.3s ease;
}

.popup .popup__close:hover::before {
  background-color: #EA6767;
  transform: rotate(-45deg);
}

.popup .popup__close:hover::after {
  background-color: #EA6767;
  transform: rotate(45deg);
}

.popup .popup__title {
  font-weight: 500;
  line-height: calc(30px + 30 * ((100vw - 320px) / 1600));
  text-align: center;
  position: relative;
  margin-bottom: 15px;
}

.popup .popup__text {
  color: #2E363E;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  text-align: left;
  margin-bottom: 15px;
}

.popup .popup__text p:not(:last-child) {
  margin-bottom: 5px;
}

.popup .popup__form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.popup .popup__form .popup-form__label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.popup .popup__form .popup-form__input {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #F2F6FA;
  color: #2E363E;
  transition: box-shadow 0.2s ease;
}

.popup .popup__form .popup-form__input:focus {
  box-shadow: 0 0 10px #2E363E;
}

.popup .popup__form .form-file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.popup .popup__form .form-file__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 48px;
  border-radius: 8px;
  background-color: #FED84C;
}

.popup .popup__form .form-file__imageTitle {
  font-size: 15px;
  color: #2E363E;
}

.popup .popup__form .popup-form__btn {
  width: 100%;
  height: 68px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: transparent;
  border-bottom: 1px solid #7E868E;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
  position: relative;
}

.header__logo a {
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.header__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px 95px;
}

.header__menu-body {
  pointer-events: none;
  transform: translate(0, -100%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  background-color: rgba(8, 17, 48, 0.9);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  overflow: auto;
  transition: transform 0.3s ease 0s;
  z-index: 3;
}

.header__location {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}

.header__phone {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.header-location__icon {
  width: 12px;
  height: 17px;
}

.header-location__text {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.header-phone__icon {
  width: 19px;
  height: 19px;
}

.header-phone__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  text-align: center;
}

.header-phone__number {
  color: #fff;
  text-decoration: none;
  font-size: calc(18px + 2 * ((100vw - 320px) / 1600));
  font-weight: 800;
  text-align: center;
  position: relative;
}

.header-phone__number::before {
  content: "";
  position: absolute;
  bottom: -4px;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.2s ease;
}

.header-phone__number:hover::before {
  left: 0;
  width: 100%;
}

.header-phone__timetable {
  font-size: 13px;
  font-weight: 400;
  line-height: 150%;
}

.header__menu-btn {
  position: relative;
  display: block;
  width: 40px;
  height: 25px;
  cursor: pointer;
  display: none;
}

.header__menu-btn span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition-property: top transform width;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.header__menu-btn span:nth-child(1) {
  top: 0;
}

.header__menu-btn span:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}

.header__menu-btn span:nth-child(3) {
  top: 100%;
  transform: translate(0, -100%);
}

.header__menu-btn._active span:nth-child(1) {
  top: 50%;
  transform: translate(0, -50%) rotate(45deg);
}

.header__menu-btn._active span:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%) rotate(-45deg);
}

.header__menu-btn._active span:nth-child(3) {
  width: 0;
}

.yellow-btn {
  width: 300px;
  height: 88px;
  border-radius: 8px;
  background-color: #FED84C;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  font-weight: 500;
  color: #2E363E;
  padding: 10px;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

.yellow-btn::before {
  content: "";
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  filter: blur;
  background: linear-gradient(to left, transparent 0%, #fff 40%, #fff 60%, transparent 100%);
  transform: translate(-110%, -25%) rotate(10deg);
}

.yellow-btn:hover {
  color: #fff;
}

.yellow-btn:hover::before {
  -webkit-animation: blick 1.2s ease-in-out 0s;
  animation: blick 1.2s ease-in-out 0s;
}

.tag {
  max-width: 200px;
  width: 100%;
  height: 37px;
  border-radius: 5px;
  background-color: #F2F6FA;
  color: #2E363E;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  cursor: default;
  white-space: nowrap;
}

@-webkit-keyframes blick {
  0% {
    transform: translate(-100%, -25%) rotate(10deg);
  }

  20% {
    transform: translate(100%, -25%) rotate(10deg);
  }

  100% {
    transform: translate(110%, -25%) rotate(10deg);
  }
}

@keyframes blick {
  0% {
    transform: translate(-100%, -25%) rotate(10deg);
  }

  20% {
    transform: translate(100%, -25%) rotate(10deg);
  }

  100% {
    transform: translate(110%, -25%) rotate(10deg);
  }
}

.section {
  width: 100%;
}

.section__title {
  color: #2E363E;
  text-align: center;
  font-size: calc(24px + 24 * ((100vw - 320px) / 1600));
  font-weight: 500;
  line-height: calc(30px + 30 * ((100vw - 320px) / 1600));
}

.section__sub-title {
  color: #2E363E;
  text-align: center;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1600));
  font-weight: 400;
  line-height: 140%;
}

body._no-parallax .parallax__item {
  display: none;
}

#preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #081130;
  opacity: 1;
  visibility: visible;
  z-index: 5;
  transition: all 1s ease;
}

#preloader._done {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

#preloader._done #loader {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#preloader #loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: none;
  border: 8px solid #fff;
  border-top-color: #FED84C;
  border-radius: 50%;
  z-index: 4;
  -webkit-animation: load 1.5s infinite linear;
  animation: load 1.5s infinite linear;
}

@-webkit-keyframes load {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes load {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.parallax {
  position: relative;
}

.parallax__item {
  position: absolute;
  width: 100px;
  height: auto;
  z-index: 1;
  transition: transform 0.2s ease;
  pointer-events: none;
}

.parallax__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.section-hero {
  padding-top: calc(110px + 90 * ((100vw - 320px) / 1600));
  padding-bottom: calc(75px + 205 * ((100vw - 320px) / 1600));
  background: linear-gradient(to right, #010713, #0E1A4A);
  position: relative;
  overflow: hidden;
}

.section-hero .parallax-hero__berry {
  top: 25%;
  left: -40px;
  width: 150px;
}

.section-hero .parallax-hero__berry_2 {
  top: 70%;
  left: 70%;
  width: 110px;
}

.section-hero .parallax-hero__leaf {
  top: 20%;
  right: 10px;
  width: 200px;
}

.section-hero .parallax-hero__leaf2 {
  width: 200px;
  bottom: -10px;
  left: -15px;
}

.section-hero::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 355px;
  bottom: 0;
  transform: translateY(2px);
  background: url("../images/cloud-hero.png") bottom/100% auto no-repeat;
  pointer-events: none;
  z-index: 1;
}

.section-hero__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  max-width: 650px;
}

.section-hero__img {
  position: absolute;
  right: 100px;
  top: 150px;
  width: calc(300px + 533 * ((100vw - 320px) / 1600));
  height: calc(200px + 597 * ((100vw - 320px) / 1600));
  right: calc(-100px + 200 * ((100vw - 320px) / 1600));
}

.section-hero__img img {
  width: 100%;
}

.hero-content__tag {
  max-width: 132px;
  height: 37px;
}

.hero-content__title {
  font-size: calc(24px + 24 * ((100vw - 320px) / 1600));
  font-weight: 700;
  line-height: calc(30px + 30 * ((100vw - 320px) / 1600));
}

.hero-content__sub-title {
  font-weight: 400;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1600));
  line-height: 140%;
  max-width: 450px;
}

.hero-content__btns {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.hero-content__btn {
  width: 300px;
  height: 88px;
}

.hero-content__btn-desc {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  max-width: 140px;
}

.section-catalog {
  background-color: #fff;
  color: #2E363E;
  padding: 5px 0;
}

.section-catalog .parallax-catalog__leaf1 {
  top: 40%;
  right: 10px;
  width: 150px;
}

.section-catalog .parallax-catalog__berry1 {
  top: 20%;
  left: 10px;
  width: 130px;
}

.section-catalog .parallax-catalog__leaf2 {
  top: 70%;
  left: 10px;
  width: 120px;
}

.section-catalog .parallax-catalog__berry2 {
  top: 85%;
  right: 10px;
  width: 100px;
}

.section-catalog .parallax-catalog__berry3 {
  top: 93%;
  left: -10px;
  width: 110px;
}

.section-catalog__title {
  padding-top: 20px;
  margin-bottom: calc(20px + 60 * ((100vw - 320px) / 1600));
}

.section-catalog__cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.catalog-cards__item {
  flex: 0 1 380px;
  max-width: 380px;
  border: 1px solid #F2F6FA;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.card__img {
  width: 100%;
}

.card__img img {
  width: 100%;
  min-height: 206px;
  max-height: 245px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card__container {
  max-width: 100%;
  margin: 0;
  padding-top: calc(30px + 20 * ((100vw - 320px) / 1600));
  padding-bottom: calc(30px + 20 * ((100vw - 320px) / 1600));
  padding-right: calc(25px + 20 * ((100vw - 320px) / 1600));
  padding-left: calc(25px + 20 * ((100vw - 320px) / 1600));
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}

.card__title {
  color: #2E363E;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1600));
  font-weight: 700;
  line-height: 140%;
}

.card__desc {
  color: #2E363E;
  font-size: 16px;
  font-weight: 400;
}

.card__price {
  margin-top: 10px;
  color: #2E363E;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1600));
  font-weight: 500;
  line-height: 150%;
  white-space: nowrap;
}

.card__btn {
  width: 165px;
  height: 68px;
}

.section-ind-order {
  background-color: #081130;
  padding-top: calc(75px + 225 * ((100vw - 320px) / 1600));
  padding-bottom: calc(75px + 285 * ((100vw - 320px) / 1600));
  position: relative;
}

.section-ind-order .parallax-ind-order__leaf {
  top: 60%;
  right: -5px;
  width: 150px;
}

.section-ind-order .parallax-ind-order__berry1 {
  top: 10%;
  left: 15px;
  width: 130px;
}

.section-ind-order .parallax-ind-order__berry2 {
  top: 75%;
  left: 250px;
  width: 150px;
}

.section-ind-order::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 255px;
  background: url("../images/cloud-top-order.png") top/100% auto no-repeat;
  transform: translate(0, -2px);
  pointer-events: none;
  z-index: 1;
}

.section-ind-order::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 365px;
  background: url("../images/cloud-bottom-order.png") bottom/100% auto no-repeat;
  transform: translate(0, 2px);
  pointer-events: none;
  z-index: 1;
}

.section-ind-order__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 80px;
}

.section-ind-order__img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(300px + 660 * ((100vw - 320px) / 1600));
}

.section-ind-order__img img {
  width: 100%;
}

.section-ind-order__content {
  max-width: 480px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.section-ind-order__tag {
  max-width: 226px;
  height: 37px;
}

.section-ind-order__title {
  color: #fff;
  text-align: left;
}

.section-ind-order__desc {
  color: #fff;
  text-align: left;
}

.section-ind-order__btn {
  margin-top: 16px;
  width: 320px;
  height: 88px;
}

.section-kitchener {
  background-color: #fff;
  padding: 5px 0;
}

.section-kitchener .parallax-kitchener__leaf {
  top: 40%;
  right: -5px;
  width: 200px;
}

.section-kitchener .parallax-kitchener__berry1 {
  top: 5%;
  left: 15px;
  width: 130px;
}

.section-kitchener .parallax-kitchener__leaf2 {
  bottom: 10%;
  left: 30px;
  width: 120px;
}

.section-kitchener__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: calc(20px + 75 * ((100vw - 320px) / 1600));
}

.section-kitchener__text {
  max-width: 580px;
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}

.section-kitchener__tag {
  max-width: 190px;
}

.section-kitchener__title {
  text-align: left;
}

.section-kitchener__list {
  margin-top: 12px;
  color: #2E363E;
  margin: 0;
  padding: 0;
}

.section-kitchener__btn {
  margin-top: 25px;
}

.section-kitchener__info {
  flex: 0 1 580px;
  min-width: 300px;
  position: relative;
}

.kitchener-list__item {
  list-style: none;
  padding-left: 25px;
  position: relative;
}

.kitchener-list__item::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #5D6AFB;
}

.kitchener-list__item:not(:first-child) {
  margin-top: 30px;
}

.kitchener-info__img img {
  width: 100%;
}

.kitchener-info__text {
  position: absolute;
  top: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  left: calc(0px + -90 * ((100vw - 320px) / 1600));
}

.kitchener-info__name {
  background-color: #2E363E;
  color: #fff;
  font-size: calc(20px + 4 * ((100vw - 320px) / 1600));
  position: relative;
  padding: 15px 0;
  position: relative;
  z-index: 1;
  white-space: nowrap;
}

.kitchener-info__name::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 100%;
  background-color: #2E363E;
  transform-origin: bottom;
  transform: translateX(-100%) skew(-10deg);
  border-radius: 3px 0 0 5px;
  z-index: -1;
}

.kitchener-info__name::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 100%;
  background-color: #2E363E;
  transform-origin: top;
  transform: translateX(100%) skew(-10deg);
  border-radius: 0 3px 5px 0;
  z-index: -1;
}

.kitchener-info__prof {
  background-color: #F2F6FA;
  color: #2E363E;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  position: relative;
  padding: 15px 0;
  position: relative;
  z-index: 1;
  white-space: nowrap;
}

.kitchener-info__prof::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 100%;
  background-color: #F2F6FA;
  transform-origin: bottom;
  transform: translateX(-100%) skew(-10deg);
  border-radius: 3px 0 0 5px;
  z-index: -1;
}

.kitchener-info__prof::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 100%;
  background-color: #F2F6FA;
  transform-origin: top;
  transform: translateX(100%) skew(-10deg);
  border-radius: 0 3px 5px 0;
  z-index: -1;
}

.section-feedback {
  background-color: #081130;
  padding-top: calc(75px + 225 * ((100vw - 320px) / 1600));
  padding-bottom: calc(120px + 200 * ((100vw - 320px) / 1600));
  position: relative;
}

.section-feedback .parallax-feedback__berry1 {
  width: 130px;
  bottom: 15%;
  left: 150px;
}

.section-feedback .parallax-feedback__berry2 {
  width: 120px;
  top: 28%;
  right: 50px;
}

.section-feedback::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 255px;
  background: url("../images/cloud-top-feedback.png") top/100% auto no-repeat;
  transform: translate(0, -2px);
  pointer-events: none;
  z-index: 1;
}

.section-feedback::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 210px;
  background: url("../images/cloud-bottom-feedback.png") bottom/100% auto no-repeat;
  transform: translate(0, 2px);
  pointer-events: none;
  z-index: 1;
}

.section-feedback__title {
  color: #fff;
}

.section-feedback__slider {
  margin-top: calc(50px + 30 * ((100vw - 320px) / 1600));
}

.feedback-slider__item {
  background-color: #fff;
  border: 2px solid #E2EAF2;
  padding: 70px 140px;
  padding-top: calc(25px + 45 * ((100vw - 320px) / 1600));
  padding-bottom: calc(25px + 45 * ((100vw - 320px) / 1600));
  padding-right: calc(50px + 90 * ((100vw - 320px) / 1600));
  padding-left: calc(50px + 90 * ((100vw - 320px) / 1600));
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  border-radius: 5px;
}

.slider-item__left {
  color: #2E363E;
  max-width: 460px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}

.slider-item__quotes {
  width: 40px;
  height: 40px;
}

.slider-item__quotes img {
  width: 100%;
}

.slider-item__title {
  font-weight: 500;
  font-size: calc(20px + 10 * ((100vw - 320px) / 1600));
  color: #2E363E;
}

.slider-item__text {
  color: #2E363E;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
}

.slider-item #read-more-link {
  display: inline-block;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  color: #4A94FF;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px dashed #4A94FF;
  margin-top: 24px;
}

.slider-item #secondary-text {
  margin-top: 24px;
}

.slider-item__right {
  flex: 0 1 380px;
  min-width: 250px;
}

.slider-item__avatar {
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
}

.slider-item__avatar img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  vertical-align: top;
}

.slider-item__name {
  color: #2E363E;
  font-size: calc(18px + 3 * ((100vw - 320px) / 1600));
  font-weight: 500;
  text-align: center;
  margin-top: calc(20px + 10 * ((100vw - 320px) / 1600));
}

.slider-item__location {
  color: #2E363E;
  font-weight: 400;
  text-align: center;
  margin-top: 5px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  transform: scale(0.8);
  background-color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
  transform: scale(1);
  background-color: #FED84C;
}

.feedback-slider__prev {
  position: absolute;
  width: 66px;
  height: 66px;
  z-index: 3;
}

.feedback-slider__prev::after {
  content: "";
  background: url("../images/arrow.svg") top/contain no-repeat;
  width: 100%;
  height: 100%;
}

.feedback-slider__next {
  position: absolute;
  width: 66px;
  height: 66px;
  z-index: 3;
}

.feedback-slider__next::after {
  content: "";
  background: url("../images/arrow.svg") top/contain no-repeat;
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
}

.feedback-slider__prev.--disabled {
  opacity: 0.5;
}

.feedback-slider__next.--disabled {
  opacity: 0.5;
}

.section-portfolio {
  padding: 5px 0;
  background-color: #fff;
}

.section-portfolio .parallax-portfolio__berry1 {
  width: 130px;
  top: 15%;
  left: 0px;
}

.section-portfolio .parallax-portfolio__berry2 {
  width: 120px;
  top: 70%;
  left: -5px;
}

.section-portfolio .parallax-portfolio__leaf1 {
  width: 150px;
  top: 40%;
  right: 5px;
}

.section-portfolio .parallax-portfolio__leaf2 {
  width: 180px;
  top: 90%;
  right: 0;
}

.section-portfolio__title {
  margin-bottom: 15px;
}

.section-portfolio__flex {
  margin-top: calc(30px + 50 * ((100vw - 320px) / 1600));
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.portfolio-flex__item {
  max-width: 634px;
  min-width: 300px;
}

.portfolio-flex__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.footer {
  position: relative;
  padding-top: calc(75px + 135 * ((100vw - 320px) / 1600));
  padding-bottom: calc(50px + 30 * ((100vw - 320px) / 1600));
}

.footer .parallax-footer__berry {
  width: 120px;
  right: -20px;
  top: 15%;
}

.footer .parallax-footer__leaf {
  width: 180px;
  left: 80px;
  bottom: 10%;
}

.footer::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 210px;
  transform: translateY(-2px);
  background: url("../images/cloud-footer-top.png") top/100% auto no-repeat;
  pointer-events: none;
  z-index: 1;
}

.footer__form {
  margin-bottom: calc(40px + 40 * ((100vw - 320px) / 1600));
}

.footer-form {
  background-color: #fff;
  padding-top: calc(50px + 20 * ((100vw - 320px) / 1600));
  padding-bottom: calc(50px + 20 * ((100vw - 320px) / 1600));
  padding-right: calc(20px + 60 * ((100vw - 320px) / 1600));
  padding-left: calc(20px + 60 * ((100vw - 320px) / 1600));
  border-radius: 8px;
}

.footer-form__title {
  font-weight: 700;
  margin-bottom: 15px;
}

.footer-form__sub-title {
  margin-bottom: calc(24px + 12 * ((100vw - 320px) / 1600));
}

.footer-form__top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 880px;
  margin: 0 auto;
  gap: 20px;
}

.footer-form__label {
  width: 50%;
  position: relative;
}

.footer-form__label::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  background: url("../images/phone-footer.svg");
  z-index: 3;
}

.footer-form__input {
  padding: 25px;
  padding-left: 60px;
  width: 100%;
  height: 88px;
  background-color: #F2F6FA;
  border-radius: 8px;
  font-size: 15px;
  border: none;
  outline: none;
  color: #2E363E;
  transition: box-shadow 0.2s ease;
  position: relative;
}

.footer-form__input:focus {
  box-shadow: 0 0 10px #2E363E;
}

.footer-form__btn {
  width: 50%;
  height: 88px;
}

.footer-form__bottom {
  margin-top: calc(18px + 6 * ((100vw - 320px) / 1600));
  color: #7E868E;
  text-align: center;
  font-size: 11px;
}

.footer-form__bottom a {
  text-decoration: underline;
  color: #7E868E;
}

.footer-info__ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 30px;
}

.footer-info__item {
  text-align: center;
}

.footer-info__link {
  text-align: center;
  color: #7E868E;
  text-decoration: none;
  transition: all 0.2s ease;
}

.footer-info__link:hover {
  color: #fff;
  text-decoration: underline;
}

@supports (-webkit-appearance:none) {
  .section-hero::before {
    background: url("../images/cloud-hero.webp") bottom/100% auto no-repeat;
  }

  .section-ind-order::before {
    background: url("../images/cloud-top-order.webp") top/100% auto no-repeat;
  }

  .section-ind-order::after {
    background: url("../images/cloud-bottom-order.webp") bottom/100% auto no-repeat;
  }

  .section-feedback::before {
    background: url("../images/cloud-top-feedback.webp") top/100% auto no-repeat;
  }

  .section-feedback::after {
    background: url("../images/cloud-bottom-feedback.webp") bottom/100% auto no-repeat;
  }

  .feedback-slider__prev::after {
    background: url("../images/arrow.svg") top/contain no-repeat;
  }

  .feedback-slider__next::after {
    background: url("../images/arrow.svg") top/contain no-repeat;
  }

  .footer::before {
    background: url("../images/cloud-footer-top.webp") top/100% auto no-repeat;
  }

  .footer-form__label::before {
    background: url("../images/phone-footer.svg");
  }
}

@media (max-width: 1100px) {
  .section-ind-order__container {
    justify-content: center;
  }

  .section-ind-order__img {
    display: none;
  }

  .section-ind-order__tag {
    margin: 0 auto;
  }

  .section-ind-order__title {
    text-align: center;
  }

  .section-ind-order__desc {
    text-align: center;
  }

  .section-ind-order__btn {
    margin: 0 auto;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 979px) {
  .header__container {
    justify-content: space-between;
    align-items: center;
  }

  .header__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: transparent;
    z-index: 4;
  }

  .header__logo {
    z-index: 5;
  }

  .header__location .header-location__text {
    font-size: 16px;
  }

  .header__menu-body {
    pointer-events: all;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__menu-btn {
    display: block;
    z-index: 5;
  }

  .header._open .header__menu-body {
    transform: translate(0, 0);
  }

  .section-hero {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-hero__content {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }

  .section-hero__img {
    display: none;
  }

  .hero-content__btn-desc {
    text-align: left;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 768px) {
  .section-hero__content {
    gap: 10px;
  }

  .hero-content__btns {
    margin-top: 10px;
    gap: 10px;
  }

  .hero-content__btn {
    width: 200px;
    height: 58px;
  }

  .card__btn {
    width: 125px;
    height: 52px;
  }

  .section-ind-order__btn {
    width: 280px;
    height: 77px;
  }

  .section-kitchener__container {
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }

  .section-kitchener__text {
    order: 2;
    margin-top: 0;
    gap: 15px;
    align-items: center;
  }

  .section-kitchener__title {
    text-align: center;
  }

  .section-kitchener__btn {
    margin-top: 10px;
    width: 250px;
    height: 75px;
  }

  .section-kitchener__info {
    flex: 1 1 auto;
    max-width: 580px;
    order: 1;
  }

  .kitchener-list__item:not(:first-child) {
    margin-top: 15px;
  }

  .kitchener-info__text {
    left: 50%;
    transform: translateX(-50%);
  }

  .feedback-slider__item {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    padding: 25px;
  }

  .slider-item__left {
    order: 2;
  }

  .slider-item__quotes {
    align-self: center;
  }

  .slider-item__title {
    text-align: center;
    align-self: center;
  }

  .slider-item__right {
    order: 1;
    flex: 0;
  }

  .feedback-slider__prev {
    width: 45px;
    height: 45px;
  }

  .feedback-slider__next {
    width: 45px;
    height: 45px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 600px) {
  .header__info {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footer-form__top {
    flex-direction: column;
    gap: 10px;
  }

  .footer-form__label {
    width: 100%;
  }

  .footer-form__input {
    width: 100%;
    height: 68px;
  }

  .footer-form__btn {
    width: 100%;
    height: 68px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 360px) {
  .hero-content__btns {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-content__btn-desc {
    text-align: center;
  }

@supports (-webkit-appearance:none) {

}
}