*,::after,::before{padding:0;margin:0;box-sizing:border-box}ol,ul{padding:0}blockquote,body,dd,dl,figcaption,figure,h1,h2,h3,h4,html,li,ol,p,ul{margin:0;padding:0}li[class],ol[class],ul[class]{list-style:none}

:root {
	--gradient-purple: linear-gradient(to right, #C89AFC, #7C6AFA);
	--gradient-red: linear-gradient(to right, #DF5950, #451046);
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #fff;
	background: url("../images/bgc.jpg") center / cover no-repeat #000;
}
body.lock {
	overflow: hidden;
}
.container-wide {
	max-width: 1344px;
	margin: 0 auto;
	padding: 0 15px;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;
}

.btn-login {
	max-width: 160px;
	width: 160px;
	padding: 10px 30px;
	border-radius: 50px;
	color: #fff;
	text-decoration: none;
	background: transparent;
	background: var(--gradient-purple);
	white-space: nowrap;
}

.btn-course {
	width: 149px;
	padding: 10px 30px;
	border-radius: 50px;
	color: #fff;
	text-decoration: none;
	background: transparent;
	background: var(--gradient-red);
	white-space: nowrap;
}

/* Header -------------------------------------------------------------- */
header.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 25px 15px;
	background: none;
}
.inner-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	width: 40px;
	height: 40px;
}
.header__logo__img {
	width: 40px;
	height: 40px;
}
.header__menu-icon {
	display: none;
	position: relative;
	width: 40px;
	height: 30px;
	cursor: pointer;
	z-index: 3;
}
.header__menu-icon span {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 4px;
	transform: translateY(-50%);
	background: var(--gradient-purple);
	transition: width 0.1s ease;
}
.header__menu-icon::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: var(--gradient-purple);
	transition: transform 0.2s ease;
}
.header__menu-icon::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: var(--gradient-purple);
	transition: transform 0.2s ease;
}
.header__menu-icon.active span {
	width: 0;
}
.header__menu-icon.active::before {
	top: 50%;
	transform: rotate(45deg);
	transform: translateY(-50%)  rotate(45deg);
}
.header__menu-icon.active::after {
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
}

.header__nav {

}

.header__nav.active {
	left: 0;
}
.header__nav.active ul {
	display: block;
}
.header__nav.active ul li {
	margin-right: 0;
	margin-bottom: 25px;
}
.header__nav.active ul li:last-child {
	margin-bottom: 0;
}

.header__nav ul {
	display: flex;
}
.header__nav ul li {
	list-style: none;
	margin-right: 50px;
}
.header__nav ul li:last-child {
	margin-right: 0;
}
.header__nav__link {
	text-decoration: none;
	color: #fff;
}
.header__nav__link:hover {
	text-decoration: underline;
}
.header__btn {

}
.header__btn__login {
	
}



/* Content -------------------------------------------------------------- */
.content {
	width: 100%;
}
.inner-content {
	width: 100%;
	height: 100%;
}
.block {
	width: 100%;
	height: 100%;
	margin-top: 200px;
}
.block__name {
	display: flex;
	align-items: center;
}
.block__name__img {
	max-width: 90px;
	max-height: 90px;
	margin-right: 20px;
}
.block__name__title {
	font-size: 48px;
	font-weight: 700;
}
.block .block__desc {
	max-width: 411px;
	margin-top: 15px;
	white-space: wrap;
	color: #fff;
	opacity: 0.6;
	
}

/* HERO */
.hero {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	text-align: left;
	width: 100%;
	min-height: 100vh;
	background: url("../images/hero.jpg") center / cover no-repeat #282828;
	margin: 0;
}
.hero__top {
	padding-top: 200px;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.hero__title {
	font-size: 64px;
	line-height: 89px;
	font-weight: 700;
	max-width: 920px;
	text-align: left;
}
.hero__top__calendar {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	text-align: left;
	margin-top: 30px;
	z-index: 2;
}
.hero__top__calendar__item {
	width: 102px;
	height: 112px;
	background-color: #121212;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 36px;
	font-weight: 700;
	margin-right: 35px;
	margin-top: 10px;
}
.hero__top__calendar__item:last-child {
	margin-right: 0;
}
.hero__top__calendar__item span {
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	opacity: 0.4;
}


.hero__bottom {
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: 280center;
	justify-content: center;
	width: 100%;
	min-height: 110px;
	padding: 25px 0;
	background-color: #121212;
	z-index: 1;
}
.hero__bottom .container {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.hero__bottom__btn {
	
}
.hero__bottom__btn__course {

}
.hero__bottom__students {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.hero__bottom__students__text {
	white-space: nowrap;
}
.hero__bottom__students__text:last-child {
	margin-top: 5px;
}
.hero__bottom__students__title {
	color: #fff;
	
	opacity: 0.6;
}
span.span {
	opacity: 1;
	font-weight: 700;
	color: #fff;
}
.hero__bottom__students__text span.span {
	opacity: 1;
	color: #fff;
	padding-left: 100px;
}
.hero__bottom__students__text span.span-second {
	opacity: 1;
	color: #fff;
	font-weight: 700;
	padding-left: 29px;
}

.hero__bottom__earn {
	white-space: nowrap;
}
.hero__bottom__earn__title {
	color: #fff;
	opacity: 0.6;
}
.hero__bottom__earn__progress_bar {
	position: relative;
	max-width: 714px;
	height: 6px;
	width: 100%;
	margin-top: 8px;
	background: #fff;
}
.hero__bottom__earn__progress_bar::before {
	content: "0";
	position: absolute;
	left: 0;
	bottom: -24px;
	color: #fff;
	opacity: 0.6;
}
.hero__bottom__earn__progress_bar::after {
	content: "1 000 000";
	position: absolute;
	right: 0;
	bottom: -24px;
	
	color: #fff;
	opacity: 0.6;
}
.hero__bottom__earn__progress_bar span {
	position: absolute;
	width: 40%;
	height: 6px;
	background: var(--gradient-red);
}

/* ABOUT */
.about {
	
}
.about .container {
	max-width: 1000px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}
.about__img {
	max-width: 256px;
	max-height: 242px;
}
.about__img img {
	max-width: 286px;
	max-height: 272px;
}
.about__text {
	position: relative;
	max-width: 636px;
	text-align: left;
}
.about__text__title {
	font-size: 48px;
	font-weight: 700;
}
.about__text__text {
	
}

/* START */
.start {
	
}
.start .container {
	max-width: 1000px;
	margin: 0 auto;
}
.start__info {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}
.start__info__item {
	position: relative;
	max-width: 100%;
	width: 25%;
}
.start__info__item__title {
	font-size: 36px;
	font-weight: 700;
}
.start__info__item__rectangle {
	width: 100%;
	background: var(--gradient-purple);
	margin-top: 20px;
	margin-bottom: 20px;
}
.rectangle1 {
	height: 80px;
}
.rectangle2 {
	height: 60px;
}
.rectangle3 {
	height: 30px;
}
.rectangle4 {
	height: 10px;
}
.start__info__item__description {
	color: #fff;
	opacity: 0.6;
	max-width: 90%;
}

/* ADVANTAGES */
.advantages {

}
.advantages .container {
	max-width: 1000px;
	margin: 0 auto;
}
.advantages__title {
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	color: #fff;
}
.advantages__content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 100px;
}
.advantages__content__item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 100%;
	width: calc(100 / 3 * 1%);
}
.advantages__content__item__img {
	width: 100px;
	height: 100px;
}
.advantages__content__item__title {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}
.advantages__content__item__text {
	max-width: 100%;
	width: 90%;
	font-size: 16px;
	opacity: 0.6;
	text-align: center;
}

/* PARTNERS */
.partners {

}
.partners .container {
	max-width: 1000px;
	margin: 0 auto;
}
.partners__content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 50px;
}
.partners__content__item {
	max-width: 100%;
	width: 25%;
	padding: 0 25px 25px 25px;
	border-right: 2px solid rgba(255, 255, 255, 0.3);
	border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.partners__content__item img {
	width: 100%;
}

.partners__content__item.last {
	border-right: none;
}

.partners__content__item.bottom {
	border-bottom: none;
	padding: 25px 25px 0 25px;
}

/* PROGRAM */
.program {

}
.program .container {
	max-width: 750px;
	margin: 0 auto;
}
.block__name.program {
	justify-content: center;
	flex-direction: column;
}
.block__name.program .block__name__img {
	margin-right: 0;
}
.block__name.program .block__desc {
	text-align: center;
}
.program__content {
	display: block;
	position: relative;
	margin-top: 50px;
	min-height: 600px;
}
.program__content::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 6px;
	min-height: 605px;
	background: var(--gradient-purple);
}
.program__content__item {
	display: inline-block;
	position: relative;
	margin-top: 90px;
	max-width: 100%;
	width: 250px;
	float: left;
	text-align: right;
}
.program__content__item:first-child {
	margin-top: 0;
}
.program__content__item::before {
	content: "";
	position: absolute;
	top: 50%;
	right: -107px;
	transform: translate(0, -50%);
	width: 40px;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.3);
}
.program__content__item.right::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -107px;
	transform: translate(0, -50%);
	width: 40px;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.3);
}
.program__content__item.right {
	float: right;
	text-align: left;
}
.program__content__item span {
	white-space: nowrap;
	color: #fff;
	opacity: 0.6;
	font-size: 14px;
}
.program__content__item.right span {
	white-space: nowrap;
	color: #fff;
	opacity: 0.6;
	font-size: 14px;
}
.program__content__item__text {
	white-space: wrap;
	max-width: 260px;
	font-size: 18px;
	margin-top: 20px;
}

/* TEACHERS */
.teachers {
	padding: 0 10px;
}
.teachers .container {
	max-width: 1000px;
	margin: 0 auto;
}
.teachers__content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	flex-wrap: wrap;
	margin-top: 75px;
}
.teachers__content__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 190px;
	height: 100%;
}
.teachers__content__item__img {
	max-width: 190px;
	max-height: 190px;
}
.teachers__content__item__title {
	font-size: 24;
	font-weight: 700;
	margin-top: 10px;
}
.teachers__content__item__description {
	font-size: 16px;
	opacity: 0.5;
	margin-top: 10px;
	text-align: center;
	white-space: nowrap;
}
.teachers__content__item__btn {
	margin-top: 10px;
	width: 143px;
	height: 44px;
	border: 2px solid #fff;
	border-radius: 50px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	padding: 10px 15px 10px 15px;
	transition: all 0.2s ease;
}
.teachers__content__item__btn:hover {
	background-color: #fff;
	color: #000;
}

/* FOOTER ---------------------------------------- */
.footer .container {
	max-width: 600px;
	margin: 0 auto;
	padding: 10px;
}
.block.footer {
	margin-top: 150px;
}
.block__name.footer {
	flex-direction: column;
}
.block__name.footer .block__name__title {
	text-align: center;
	margin: 0;
}
.block__name.footer .block__desc {
	margin: 25px 0 0 0;
	white-space: wrap;
	text-align: center;
}
.footer__content {}
.footer__content__label {
	max-width: 492px;
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 50px;
}
.footer__content__input {
	display: flex;
	position: relative;
	padding: 10px;
	background-color: #fff;
	max-width: 100%;
	width: 492px;
	height: 38px;
	opacity: 0.3;
	border: none;
	outline: none;
	border-radius: 50px;
	color: #000;
	transition: all 1.5s ease;
	z-index: 1;
}
.footer__content__input:focus {
	opacity: 1;
}
.footer__content__label a {
	position: absolute;
	width: 140px;
	padding: 10px 10px;
	color: #fff;
	background: var(--gradient-red);
	border-radius: 50px;
	font-weight: 700;
	right: -2px;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	cursor: pointer;
	z-index: 2;
	text-decoration: none;
}
.footer__content__soc {
	margin-top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-right: -10px;
}
.footer__content__soc__icon {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	opacity: 0.8;
	transition: 0.2s;
}
.footer__content__soc__icon:hover {
	opacity: 1;
}


@media (max-width: 1000px) {
	.about .container {
		max-width: 1000px;
		display: flex;
		justify-content: center;
		margin: 0 auto;
		flex-direction: column;
	}
	.about__img {
		order: 2;
		max-width: 326px;
		max-height: 312px;
		margin-top: 25px;
	}
	.about__img img {
		max-width: 326px;
		max-height: 312px;
	}
	.about__text {
		text-align: center;
	}
}
@media (max-width: 985px) {
	.header__nav ul li {
		margin-right: 25px;
	}
}
@media (max-width: 960px) {
	.inner-header {
		justify-content: space-between;
	}
	.header__nav {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 70px 30px 30px 30px;
		transition: left 0.3s ease;
		overflow: auto;
		z-index: 3;
	}
	.header__nav__link {
		font-size: 24px;
	}
	.header__menu-icon {
		display: block;
	}
	.block {
		margin-top: 100px;
	}
	.hero {
		margin: 0;
	}
	.block.footer {
		margin-top: 100px;
	}
}
@media (max-width: 770px) {
	.program__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center
	}
	.program__content::before {
		width: 0;
		height: 0;
	}
	.program__content__item {
		text-align: center;
		margin-top: 50px
	}
	.program__content__item.right {
		float: left;
		text-align: center;
	}
	.program__content__item::before {
		width: 0;
		height: 0;
	}
	.program__content__item.right::before {
		width: 0;
		height: 0;
	}
}
@media (max-width: 740px) {
	.hero__bottom {
		position: relative;
	}
	.hero__bottom .container {
		justify-content: center;
		flex-direction: column;
	}
	.hero__bottom__students {
		margin-top: 25px;
	}
	.hero__bottom__earn {
		margin: 25px auto 0 auto;
	}
	.start__info {
		flex-direction: column;
	}
	.start__info__item {
		width: 100%;
		margin-bottom: 20px;
	}
	.start__info__item:last-child {
		margin-bottom: 0;
	}
	.advantages__content {
		justify-content: center;
		flex-direction: column;
	}
	.advantages__content__item {
		max-width: 100%;
		width:100%;
		margin-bottom: 30px;
	}
	.advantages__content__item:last-child {
		margin-bottom: 0;
	}
	.partners__content {
		flex-direction: column;
	}
	.partners__content__item {
		position: relative;
		width: 40%;
		border: none;
		padding: 25px 0;
	}
	.partners__content__item img {
		max-width: 100%;
	}
	.partners__content__item.last {
		padding: 25px 0;
	}
	.partners__content__item.bottom {
		padding: 25px 0;
	}

	.program__content__item__text {
		font-size: 16px;
	}
}

@media (max-width: 680px) {
	.teachers__content {
		flex-direction: column;
		justify-content: center;
	}
	.teachers__content__item {
		margin-top: 25px;
	}
}

@media (max-width: 500px) {
	body {
		font-size: 14px;
	}
	.hero__top__calendar__item span {
		font-size: 14px;
	}
	.hero__title {
		font-size: 32px;
		line-height: 40px;
	}
	.hero__top__calendar__item {
		font-size: 28px;
	}
	.hero__bottom__students__text span.span-second {
		opacity: 1;
		color: #fff;
		font-weight: 700;
		padding-left: 38px;
	}
	.about__text__title {
		font-size: 28px;
	}
	.block__name {
		justify-content: center;
	}
	.block__name__title {
		font-size: 28px;
	}
	.block__name__img {
		width: 45px;
		height: 45px;
	}
	.start__info__item__title {
		font-size: 28px;
	}
	.advantages__title {
		font-size: 28px;
	}
	.advantages__content__item__title {
		font-size: 16px;
	}
	.advantages__content__item__text {
		font-size: 14px;
	}
	.footer__content__input {
		width: 100%;
		height: 100%;
	}
}
@media (max-width: 400px) {
	.btn-login {
		width: 100px;
		padding: 10px 20px;
		font-size: 14px;
	}
	.about__img img {
		max-width: 100%;
		max-height: 100%;
	}
}